.steps {
    margin: auto;
    height: 50vh;
    width: 50vw;
    padding: 2em 5em;
    font-style: italic;
    background-color: papayawhip;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    list-style-type: upper-roman;
}

