* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fira code;
}

#wrapper {
    height: 100vh;

    #header {
        height: 10vh;
        background-color: green;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 4vw;
        }
    }

    #main {
        height: 80vh;
        background-color: yellow;

        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        background: url(../data/images/Brazilian_Churrasco.jpg);

        .menu {
            padding: 2vw;
            background-color: orange;
        }
    }

    #footer {
        height: 10vh;
        background-color: tomato;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: left;
    }
}
